{
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb",
    "plugin:meteor/guide"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "meteor/eventmap-params": [
      2, { "templateInstanceParamName": "instance" }
    ],
    "import/no-unresolved": [
      2, { "ignore": ["^meteor/"] }
    ],
    "no-underscore-dangle": [
      "error", {
        "allow": ["_id"]
      }
    ]
  },
  "globals": {
  }
}
