@import './includes/variables',
        './includes/mixins';

$column-padding: $padding-large;
$columns: 6;

.row {
  display: flex;
  margin: 0 (-$column-padding);
  flex-wrap: nowrap;

  @include phone() {
    flex-flow: column;
  }
}

.col {
  padding: 0 $column-padding;

  @include phone() {
    width: 100% !important;
  }
}

@for $i from 1 through $columns {
  .col-#{$i} {
    @extend .col;
    width: (100% * $i / $columns);
  }
}
