@import './includes/variables',
        './includes/mixins';

// no borders on inputs!
input, button {
  border: none;

  &:disabled {
    color: rgba($black, 0.6);
    cursor: not-allowed;
  }

  .fa {
    margin-right: 5px;
  }
}

input {
  width: 100%;

  &[type=text],
  &[type=email],
  &[type=number],
  &[type=password],
  &:not([type]) {
    padding: $padding;
  }
}

button.block {
  @extend .block-text;
  width: 100%;
  padding: $padding;
  transition: 0.3s border-color ease;
  background: $white;
  border-bottom: 3px solid darken($white, 15%);

  &:hover:not(:disabled) {
    border-color: darken($white, 30%);
  }

  &.blue {
    background: $blue;
    color: darken($blue, 30%);
    border-color: darken($blue, 15%);

    &:hover:not(:disabled) {
      border-color: darken($blue, 30%);
    }
  }

  &.green {
    background: $green;
    color: darken($green, 30%);
    border-color: darken($green, 15%);

    &:hover:not(:disabled) {
      border-color: darken($green, 30%);
    }
  }
}

label {
  font-size: 0.9rem;
  line-height: 1;
  letter-spacing: 0.05em;

  & ~ input {
    margin-top: $padding-tiny;
  }
}

.input-group {
  margin-bottom: $padding-large;
}
