@import './_variables.scss',
        './_media_queries.scss';

.block-text {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1;
  letter-spacing: 0.05em;
  display: block;
  padding: $padding;
  width: 100%;
}

.left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.center-absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.box {
  background: #fff;
  box-shadow: 0 2px 8px rgba($gray, 0.8);
}

.hover-box {
  @extend .box;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 2px 4px rgba($gray, 0.8);
  }
}
