// colors
@import './_colors';

// general metrics
$padding-large: 15px;
$padding-horizontal: $padding-large;
$padding-vertical: ($padding-large / 2);
$padding: $padding-vertical $padding-horizontal;

// specific metrics
$header-border-width: 3px;
