// colors
@import './_colors.scss';

// general metrics
$padding-large: 15px;
$padding-huge: 3 * $padding-large;
$padding-small: ($padding-large * 2/3);
$padding-tiny: ($padding-large / 3);
$padding-horizontal: $padding-large;
$padding-vertical: $padding-small;
$padding: $padding-vertical $padding-horizontal;

// responsive metrics
$s-max: 992px;

// specific metrics
$header-border-width: 3px;
$header-height-unquote: "#{2 * $padding-large + $header-border-width} + .9rem";
$header-height: unquote("calc(#{$header-height-unquote})");
